body{
    background-color: rgba(0, 0, 0, 0.855);
    margin: 0px;
    overflow: scroll;
}
#navbar{
    visibility: sticky;    
    background-color: rgba(138, 200, 22, 0.868);
    height: 30px;
    color: black;
    font-size: 20px;
    transition:  1s ease 0s ,box-shadow 1s ease 0s , height 1s ease 0s , font-size 1s ease 0s;
}
#navbar:hover{
    background-color: greenyellow;
    box-shadow:3px 3px 3px greenyellow;
    height: 40px;
    font-size: 30px;
}
@keyframes easter_egg_pop{
    from{
        transform: translateY(-600px);
    }
    to{
        transform: translateY(0px);
    }
}
 
#easter_egg{
    margin:auto;
    margin-top: 325px;
    width: fit-content;
    color:rgba(21, 216, 216, 0.918);
    font-size: 50px;
    animation-name: easter_egg_pop;
    animation-duration:3s ;
    animation-timing-function:ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction:normal ;
    animation-fill-mode:none;
}

